/*EXCEPTION*/
.adminExWrapper { width: 40%;  z-index: 999; position: absolute; margin: 20px 0; margin-left: 30%; }
.adminExInfo { width: 100%; float: left; background-color: red; padding: 1vh 1vh 0vh 1vh; }
.exceptionModalStrace { width: 100%; float: left; background-color: yellow; max-height: 500px; overflow: auto; margin: 0;}
.adminExName { background-color: white; padding: 2px 20px; margin-bottom: 2px; height: fit-content; }
.adminExName p { margin: 2vh 0vh; }
.adminExMessage { background-color: white; padding: 2px 20px; margin-bottom: 2px; height: fit-content; }
.adminExMessage p {  margin: 2vh 0vh; }
.adminExCause { background-color: white; padding: 2px 20px; margin-bottom: 2px; height: fit-content; }
.adminExCause p {  margin: 2vh 0vh; }
.adminExSTrace { width: 100%; float: left; background-color: red; padding: 0vh 1vh 1vh 1vh; }
.quitWrapper { float: right; height: available; width: 3vw; min-width: 30px; text-align: center; transition: 0.7s;  }
.quitWrapper:hover { cursor: pointer; transition: 0.7s; 
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.quitWrapper p { margin: 2vh 0vh; }
.exceptionModalStrace { font-size: 16px;  }

/* add product*/
.addImageButton { text-align: center; cursor: pointer; line-height: 70px;}
.addImageButton:hover { text-decoration: underline; color:#157700; }
.addProductButton { height: 30px; } 
#productAddImage { display: none; }







.mainWrapper { width: 100%; float: left; padding: 20px 0 20px 0; margin: 20px 0 20px 0; height: fit-content; min-height: 500px; }
.leftMainWrapper { width: 30%; float: left; font-size: 18px; }
.rightMainWrapper { width: 70%; float: right; }








.addProductWrapper {
    width: 100%;
}
.addProductDataWrapper {
    width: 40%;
    float: left;
    background-color: #CEFF81;
    padding: 20px;
}
.addProductImageWrapper {
    width: 50%;
    display: inline-block;
}
.productElement {
    width: 100%;
    margin: 5px;
    margin-bottom: 10px;
    clear: both;
}
.productElement textarea {
    width: 98%;
    max-width: 98%;
    height: 100px;
}
.productElement input[type=text] {
    width: 350px;
    height: 30px;
    max-width: 70%;
}
.productElement input[type=number] {
    width: 350px;
    height: 30px;
    max-width: 70%;
}
.categoryCheckBoxBlock {
    float: left;
}
.categoryCheckBoxWrapper {
    margin-bottom: 10px; 
}
#prodBigImage {
    width : 70%;
    transition: 0.7s;
}
#prodBigImage:hover {
    width : 90%;
}
.productAddImageShift {
    margin-left: 50px;
}
/*AUTH*/
.authMainWrapper {
    width: 100%;
    padding: 230px 0 0 34%;
}
.authFormWrapper {
    width: 30%;
    min-width: 200px;
    float: left;
    padding: 10px;
    background-color: #CEFF81;
    border: 1px solid #252525;
}
.authElements {
    width: 100%;
    float: left;
}
.authElements input {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}
.authElements button {
    width: 12%;
}
.authElements label {
    width: 100%;
    height: 30px;
}
.authenticationText {
    width: 100%;
    font-size: 25px;
    text-decoration: underline;
}
.authenticationText:hover {
    color: #157700;
}
