.adminBarBlock, .adminBarBlock span, .adminBarBlock label, .adminBarBlock h1{ float: left; width: 100%; }
.adminBarBlock span, .adminBarBlock label, .adminBarBlock li { cursor: pointer; } 
.adminBarBlock button { float:left; clear: both; }
.adminBarBlock li { list-style: none; }
.adminBarBlock input { float:left; width: 60%; } 
.hidden { display: none; }
