.categoryPage { font-size: 18px; }

.addCat { display: none; width: 95%; padding: 10px; }
.addCat label, .addCat span, .addCat input, .addCat textarea { float: left; }
.addCat span { margin-left: 1%; }
.addCat label { width: 100%; }
.addCat input, .addCat textarea { width: 30%; max-width: 50%; }
.addCat button { float: left; clear: both; }

.updateCatModal { display: block; position: fixed; width: 40%; padding: 10px; border: 2px solid #ccc; background-color: white; }
.updateCatModal label, .updateCatModal input, .updateCatModal textarea { float: left; }
.updateCatModal span { margin-left: 1%; float: left; }
.updateCatModal span p { margin: 0 auto; }
.updateCatModal label { width: 100%; }
.updateCatModal input, .updateCatModal textarea { width: 50%; max-width: 99%; }
.updateCatModal button { float: left; clear: both; }
.exButton { float: right; margin-right: 30px; margin-top: 10px; font-size: 20px; }
.delCat { width: 50%; }

.catTable { float: left; width: 95%; padding: 10px; margin-top: 20px; }
.catTable tr:hover { background-color: #ccc; cursor:pointer;}
.catTable th { background-color: black; color: white; }
.catTable th, .catTable td { text-align: left; margin: 0; padding: 0 10px; }
.catTable td { border: 1px solid black; max-width: 500px; word-break: break-all;}

.addCatLink { font-size: 20px; text-decoration: underline; cursor: pointer; }