body { padding: 0; margin: 0; font-family: sans-serif; }
body input[type=text] { font-size: 17px; }
body input[type=password] { font-size: 17px; }
body input[type=number] { font-size: 17px; }
body input[type=date] { font-size: 17px; }
body textarea { font-size: 17px; }

/*HEADER*/
.headerWrapper { width: 100%; margin: 0 auto 70px; float: left; height: 100px; background-color: #252525; }
.headerWrapper a { color: white; text-decoration: none; }
.leftHeaderWrapper { width: 30%; float: left; background-color: #252525;  }
.rightHeaderWrapper { width: 70%; float: right; background-color: #252525; }
.serchRowWrapper { margin-top: 20px; }
.searchRow { width: 600px; height: 30px; margin: 0 0; padding: 0 0; }
.logoWrapper { width: 25%; }
.logo { width: 100%; }
.navButtonsRow { height: 50px; background-color: #252525; color: white; overflow:hidden;  }
.navMenuRow { overflow:hidden; }
/*FOOTER*/
.footerWrapper { min-height: 200px; width: 100%; margin: 0 auto; background-color: #252525; clear: both; min-height: 150px;  }

/*PAGINATION*/
.pagElement { float: left; border: 1px solid green; width: fit-content; height: 30px; padding: 10px 10px; margin-top: 40px;}
.pagElement:hover { transition: 0.4s; background-color: #CEFF81; cursor: pointer; }
.pagElement p { height: 0px; margin: 0; }
.paginationBar { float: left; }
.curPagEl { background-color: #CEFF81; }
