.productTable { float: left; width: 95%; padding: 10px; margin-top: 20px; }
.productTable tr:hover { background-color: #ccc; }
.productTable th { background-color: black; color: white; }
.productTable th, .catTable td { text-align: left; margin: 0; padding: 0 10px; }
.productTable td { border: 1px solid black; max-width: 500px; word-break: break-all; padding: 1%; }
