.minCartQuant p:after { content: "    "; height: 0;}
minCartQuant p { float: left; }

.minCartPrice p:after { content: "    "; height: 0; }
.minCartPrice p { float: left; }

.minProdImgEl{ float: left;}
.minProdNameEl{ float: left;}
.minProdPriceEl{ float: left;}
.minProdExistEl{ float: left;}
.minProdMarkExistEl{ float: left;}
.minProdQuantEl{ float: left;}

.cartMinProductWrapper { width:100%; float: left; }