body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.headerWrapper {
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background-color: #252525;
}
.headerWrapper a {
    color: white;
    text-decoration: none;
}
.leftHeaderWrapper {
    width: 30%;
    float: left;
    background-color: #252525;
    padding-bottom: 31px;
    margin-bottom: 30px;
}
.searchBotton {
    height: 29px;
    width: 80px;
}
.serchRowWrapper {
    margin-top: 20px;
}
.searchRow {
    width: 600px;
    height: 30px;
    margin: 0 0;
    padding: 0 0;
}
.rightHeaderWrapper {
    width: 70%;
    float: right;
    background-color: #252525;
    margin-bottom: 30px;   
}
.footerWrapper {
    width: 100%;
    margin: 0 auto;
    background-color: #252525;
    clear: both;
    min-height: 150px;
}
.mainWrapper {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
        
}
.leftMainWrapper {
    width: 29%;
    float: left;
    margin-bottom: 30px;
}
.rightMainWrapper {
    width: 69%;
    float: right; 
    margin-bottom: 30px;
}
.navMenuRow {
    overflow:hidden;
}
.navMenuBut {
    float:left;
    border-right: 0.5px solid #808080;
    border-left: 0.5px solid #808080;
    padding-right: 10px;
    padding-left: 10px; 
}
.navMenuBut:hover {
    transition: 0.2s;
    background-color: #157700;
    cursor: pointer;
}

.productDescriptionWrapper {
    width: 68%;
    float: left;
    text-align: right;
    text-align: justify;
}

.ultimateRightWrapper {
    width: 30%;
    background-color: white;
    float: right;
}

.cartWrapper {
    width: 100%;
}

.cartImage {
    width: 150px;
    height: 100px;
    border: 1px solid silver;
}



.singleProductImg {
    width: 100%;
    max-width: 200px;
}