.searchFormWrapper { float: left; padding-left: 4%;  margin: 0 auto; }
.searchTBodyWrapper { float: left; width: 100%; }
.searchFormWrapper button { float: left; clear: both; margin-top: 30px; height: 30px; font-size: 18px; }
.searchFormWrapper input[type=text], .searchFormWrapper input[type=date], .searchFormWrapper input[type=number] { width: 100%; height: 29px; }
.searchInputWrapper select { font-size: 18px; height: 29px; width: 10%; }
.nameSearchWrapper p, .searchElem .searchInputWrapper input { float: left; width: 300px; background-color: white; margin: 0; padding: 0; }
.nameSearchWrapper p:hover { text-decoration: underline; color: #157700; cursor: pointer; }
.searchProductTitle p { font-size: 30px; text-decoration: underline; color: #157700; margin: 12px 0 20px 0; }
.doubleSearchInput { display: none; }
.searchFormCategories { width : 60%; }
.searchCategory p { float: left; margin: 0 0 0 30px; padding: 0 10px 0 10px; text-decoration: underline; }
.searchCategory p:hover { background-color: #157700; color: white; cursor: pointer; }

