<div class="adminProdUp">
    <form ng-submit="updateProduct"> 
        <div ng-repeat="adminProd in prods">
            <div class="adminProdUpLeftWrapper">
                <span>Изменить товар</span>

                <span class="upProdLink" ng-click="jampToProductTable()">Вернуться к поиску</span>
                <span class="upProdLink" ng-click="deleteProduct( adminProd.product.id )">Удалить товар</span>
                <span class="upProdLink" ng-if="!adminProd.product.isRecommend" ng-click="updateRecommend( adminProd.product.id )">Добавить в рекомендуемые</span>
                <span class="upProdLink" ng-if="adminProd.product.isRecommend" ng-click="updateRecommend( adminProd.product.id )">Удалить из рекомендуемых</span>
                <span class="upProdLink showCategoryUpdate" ng-click="showCategories()">Показать все категории</span>
                <span class="upProdLink showCommentsUpdate" ng-click="showComments()">Показать комментарии</span>

                <div class="upComBlock displayNone">
                    <div class="upBlock backColorGray">
                        <span>Комментарии. Всего {{ adminProd.product.comments.length || 0 }} шт.</span>
                        <div class="adminProdUpComment" ng-repeat="com in adminProd.product.comments">
                            <div class="upBlock backColorLightGray">
                                <ul>
                                    <li ng-click="updateComment(com.id)">Изменить</li>
                                    <li ng-click="getOriginComment(com.id)">Востановить</li>
                                    <li ng-click="deleteComment(com.id)">Удалить</li>
                                </ul>
                                <label for="upComNick">Ник:</label>
                                <input id="upComNick" type="text" value="{{com.nick}}" ng-model="com.nick"/>
                                <label for="upComBody">Комментарий:</label>
                                <textarea id="upComBody" ng-model="com.body">{{com.body}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="upBlock backColorGray">
                    <span class="categoryLabel">Категории:</span>
                    <ul ng-if="adminProd.product.category">
                        <li ng-click="updateCategories(adminProd.product.id)">Изменить</li>
                        <li  ng-click="getOriginCategories()">Востановить</li>
                    </ul>
                    <div class="adminProdUpCtegories" ng-repeat="cat in adminProd.product.category">
                        <span ng-click="deleteCategory(cat.id)">{{cat.name}}</span>
                    </div>
                    <div class="upAllCatBlock displayNone upBlock backColorLightGray">
                        <span ng-click="addCategory(cat.id)" ng-repeat="cat in adminProd.allCategories">{{cat.name}}</span>
                    </div>
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Название:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'name', adminProd.product.name)">Изменить</li>
                        <li ng-click="getOriginSingleVal('name')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.name}}" placeholder="{{adminProd.product.name}}" ng-model="adminProd.product.name" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Описание:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'description', adminProd.product.description)">Изменить</li>
                        <li ng-click="getOriginSingleVal('description')">Востановить</li>
                    </ul>
                    <textarea ng-model="adminProd.product.description">{{adminProd.product.description}}</textarea>
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Сокращенное название:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'title', adminProd.product.title)">Изменить</li>
                        <li ng-click="getOriginSingleVal('title')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.title}}" placeholder="{{adminProd.product.title}}" ng-model="adminProd.product.title" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Бренд:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'brand', adminProd.product.brand)">Изменить</li>
                        <li ng-click="getOriginSingleVal('name')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.brand}}" placeholder="{{adminProd.product.brand}}" ng-model="adminProd.product.brand" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Еан:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'ean', adminProd.product.ean)">Изменить</li>
                        <li ng-click="getOriginSingleVal('ean')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.ean}}" placeholder="{{adminProd.product.ean}}" ng-model="adminProd.product.ean" />
                </div>
                
                <div class="upBlock backColorLightGray">
                    <label>Мпн:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'mpn', adminProd.product.mpn)">Изменить</li>
                        <li ng-click="getOriginSingleVal('mpn')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.mpn}}" placeholder="{{adminProd.product.mpn}}" ng-model="adminProd.product.mpn" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Цена:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'price', adminProd.product.price)">Изменить</li>
                        <li ng-click="getOriginSingleVal('price')">Востановить</li>
                    </ul>
                    <input type="number" value="{{adminProd.product.price}}" placeholder="{{adminProd.product.price}}"  ng-model="adminProd.product.price"/>
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Скидка:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'discount', adminProd.product.discount)">Изменить</li>
                        <li ng-click="getOriginSingleVal('discount')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.discount}}" placeholder="{{adminProd.product.discount}}" ng-model="adminProd.product.discount" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Количество оценок:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'markCount', adminProd.product.markCount)">Изменить</li>
                        <li ng-click="getOriginSingleVal('markCount')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.markCount}}" placeholder="{{adminProd.product.markCount}}" ng-model="adminProd.product.markCount" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Оценка:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'mark', adminProd.product.mark)">Изменить</li>
                        <li ng-click="getOriginSingleVal('mark')">Востановить</li>
                    </ul>
                    <input value="{{adminProd.product.mark}}" placeholder="{{adminProd.product.mark}}" ng-model="adminProd.product.mark"/>
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Кол-во:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'quantity', adminProd.product.quantity)">Изменить</li>
                        <li ng-click="getOriginSingleVal('quantity')">Востановить</li>
                    </ul>
                    <input type="number" value="{{adminProd.product.quantity}}" placeholder="{{adminProd.product.quantity}}" ng-model="adminProd.product.quantity"/>
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Объем:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'volume', adminProd.product.volume)">Изменить</li>
                        <li ng-click="getOriginSingleVal('volume')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.volume}}" placeholder="{{adminProd.product.volume}}" ng-model="adminProd.product.volume" />
                </div>
                <div class="upBlock backColorLightGray">
                    <label>Длина:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'length', adminProd.product.length)">Изменить</li>
                        <li ng-click="getOriginSingleVal('length')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.length}}" placeholder="{{adminProd.product.length}}" ng-model="adminProd.product.length" />
                </div>
                <div class="upBlock backColorLightGray">
                    <label>Ширина:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'width', adminProd.product.width)">Изменить</li>
                        <li ng-click="getOriginSingleVal('width')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.width}}" placeholder="{{adminProd.product.width}}" ng-model="adminProd.product.width" />
                </div>
                <div class="upBlock backColorLightGray">
                    <label>Высота:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'height', adminProd.product.height)">Изменить</li>
                        <li ng-click="getOriginSingleVal('height')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.height}}" placeholder="{{adminProd.product.height}}" ng-model="adminProd.product.height" />
                </div>

                <div class="upBlock backColorLightGray">
                    <label>Вес:</label>
                    <ul>
                        <li ng-click="updateProductTableField(adminProd.product.id, 'weight', adminProd.product.weight)">Изменить</li>
                        <li ng-click="getOriginSingleVal('weight')">Востановить</li>
                    </ul>
                    <input type="text" value="{{adminProd.product.weight}}" placeholder="{{adminProd.product.weight}}" ng-model="adminProd.product.weight" />
                </div>


                <div class="upBlock backColorLightGray">
                    <div class="addNewComment">
                        <span>Добавить комментарий:</span>
                        <label for="commentNick">Ник:</label>
                        <input id="commentNick" type="text"  ng-model="addNewComment.nick"/>
                        <label for="commentBody">Коментарий:</label>
                        <textarea id="commentBody" ng-model="addNewComment.body"></textarea>
                        <span class="addnewComButton" ng-click="addComment( adminProd.product.id )">Добавить</span>
                    </div>
                </div>

            </div>

            <div class="adminProdUpRightWrapper">
                <img class="adminProdImage" ng-src="{{adminProd.product.imgUrl}}" alt=""/>
                <label for="adminImgMultipart" class="upProdLink">Выбрать новую картинку</label>
                <input id="adminImgMultipart" class="displayNone" type="file" accept="image/*" ng-model="adminProd.product.imgUrl" ng-img />
                <ul>
                    <li ng-click="updateImg(adminProd.product.id, adminProd.product.imgId)">Изменить</li>
                    <li ng-click="getOriginImg()">Востановить</li>
                </ul>
            </div>

        </div>
    </form>
</div>
