<!DOCTYPE HTML>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>AdminPage</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
        <script src="js/angular-table-min.js"></script>
        <script src="js/admin.js"></script>
    </head>

    <body ng-app="adminPage">
        <h1>ADMIN</h1>
        
        <h1>ADD NEW ADMIN</h1>
        <div ng-controller="insertAdminController">
            <form ng-submit="insertAdmin()">
                <label>Insert Nick
                    <input type="text" name="nick" ng-model="nick" />
                </label>
                <label>Insert Password
                    <input type="password" name="password" ng-model="password" />
                </label>
                <label>Insert Role
                    <select ng-model="role">
                        <option selected="selected">0</option>
                        <option>1</option>
                    </select>
                </label>
                <button>Ok</button>
            </form>
        </div>
        
        <h1>ADD NEW PRODUCT</h1>
        <div ng-controller="insertProductController">
                
        </div>
        
        <h1>ADD NEW COMPANY</h1>
        <div ng-controller="companyController">
            
            <form ng-submit="insertCompany()">
                <label>COMPANY NAME
                    <input type="text"ng-model="companyForm.name"/>
                </label>
                <label>COMPANY ADDRESS
                    <input type="text" ng-model="companyForm.address"/>
                </label>
                <label>COMPANY DESCRIPTION
                    <textarea ng-model="companyForm.desc"></textarea>
                </label>
                <button>Ok</button>
            </form>
            
            
<!--            <div id="comp_modal">
                >
            </div>-->
            
        </div>
        
       
<a data-toggle="modal" data-target="#basicModal">Click to see companies</a>

<!--<a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">Click to open Modal</a>-->

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Basic Modal </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
        

    </body>
</html>