<div class="adminProdUp">
    <form ng-submit="updateProduct"> 
        <div class="adminProdUpSingleBlock" ng-repeat="adminProd in prods">
            <div class="adminProdUpLeftWrapper">
                
            <p class="jampToProductTableLink" ng-click="jampToProductTable()">Вернуться к поиску</p>
            
            <p class="adminProdRemoveLink" ng-click="deleteProduct()">Удалить товар</p>
            
            <input class="adminProdId" type="hidden" value="{{adminProd.product.id}}" ng-model="adminProd.product.id"/>
            <div class="adminProdUpSingleParent">
                <label>Название:</label>
                <div class="adminProdUpInputWrapper">
                    <input name="name" class="updateClickTarget" type="text" value="{{adminProd.product.name}}" 
                           placeholder="{{adminProd.product.name}}" ng-model="adminProd.product.name" />
                </div>
                <p class="adminProdUpLink" ng-click="updateProductTableField($event)" >Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginSingleVal($event)">Востановить</p>
            </div>
            
            <div class="adminProdUpSingleParent">
                <label>Описание:</label>
                <div class="adminProdUpInputWrapper">
                    <textarea name="description"  class="updateClickTarget" ng-model="adminProd.product.description">{{adminProd.product.description}}</textarea>
                </div>
                <p class="adminProdUpLink" ng-click="updateProductTableField($event)" >Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginSingleVal($event)">Востановить</p>
            </div>
            
            <div class="adminProdUpSingleParent">
                <label>Цена:</label>
                <div class="adminProdUpInputWrapper">
                    <input name="price"  class="updateClickTarget" type="number" value="{{adminProd.product.price}}" 
                           placeholder="{{adminProd.product.price}}"  ng-model="adminProd.product.price"/>
                </div>
                <p class="adminProdUpLink" ng-click="updateProductTableField($event)" >Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginSingleVal($event)">Востановить</p>
            </div>
            
            <div class="adminProdUpSingleParent">
                <label>Оценка:</label>
                <div class="adminProdUpInputWrapper">
                    <input name="mark"  class="updateClickTarget" type="number" value="{{adminProd.product.mark}}" 
                           placeholder="{{adminProd.product.mark}}" ng-model="adminProd.product.mark"/>
                </div>
                <p class="adminProdUpLink" ng-click="updateProductTableField($event)" >Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginSingleVal($event)">Востановить</p>
            </div>
            
            <div class="adminProdUpSingleParent">
                <label>Кол-во:</label>
                <div class="adminProdUpInputWrapper">
                    <input name="quantity" class="updateClickTarget" type="number" value="{{adminProd.product.quantity}}" 
                           placeholder="{{adminProd.product.quantity}}" ng-model="adminProd.product.quantity"/>
                </div>
                <p class="adminProdUpLink" ng-click="updateProductTableField($event)" >Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginSingleVal($event)">Востановить</p>
            </div>
            
            <div class="adminProdUpCtegoryBlock">
                <p class="categoryLabel">Категории:</p>
                <div class="adminProdUpCtegories" ng-repeat="cat in adminProd.product.category">
                    <div class="adminProdUpCurrentCategories">
                        <input type="hidden" value="{{cat.id}}"/>
                        <p ng-click="deleteCategory($event)">{{cat.name}}</p>
                    </div>
                </div>
                <div class="categoryLinkWrapper">
                    <p class="adminProdUpLink" ng-click="updateCategories()">Применить изменения</p>
                    <p class="adminProdUpLink" ng-click="getOriginCategories()">Востановить категории</p>
                </div>
                <div class="categoryLinkWrapper">
                    <p class="adminProdUpLink" ng-click="showCategories()">Добавить категории</p>
                </div>
            </div>
            
                            <div class="adminProdUpAllCategoriesWrapper">
                    <div class="adminProdUpAllCategories" ng-repeat="allCat in adminProd.allCategories">
                        <div class="adminProdUpNewCategories">
                            <input type="hidden" value="{{allCat.id}}"/>
                            <p ng-click="addCategory($event)">{{allCat.name}}</p>
                        </div>
                    </div>
                </div>
            
        
            <p class="adminProdUpLink" ng-click="showComments()">Показать коментарии</p>
            
        <div class="adminProdUpCommentBlock">
            <div class="adminProdUpComment" ng-repeat="com in adminProd.product.comments">
                <input class="adminProdCommentId" type="hidden" value="{{com.id}}" ng-model="com.id"/>
                
                <div class="dminProdUpCommentParrent">
                    <label>Ник:</label>
                        <div class="adminProdUpInputWrapper">
                            <input type="text" value="{{com.nick}}"  ng-model="com.nick"/>
                        </div>
                </div>
                
                <div class="dminProdUpCommentParrent">
                    <label>Комментарий:</label>
                    <div class="adminProdUpInputWrapper">
                    <textarea ng-model="com.body">{{com.body}}</textarea>
                    </div>
                </div>
                
                <p class="adminProdUpLink" ng-click="updateComment($event)">Применить изменения</p>
                <p class="adminProdUpLink" ng-click="getOriginComment($event)">Востановить</p>
                <p class="adminProdRemoveLink" ng-click="deleteComment($event)">Удалить комментарий</p>
            </div>
        </div>
            
        <div class="dminProdUpCommentParrent">
            <p>Добавить комментарий:</p>
                    <div class="adminProdUpAddCommentWrapper">
                        <label>Ник:</label>
                        <div class="adminProdUpInputWrapper"> 
                            <input type="text"  ng-model="addNewComment.nick"/>
                        </div>
                        <label>Коментарий:</label>
                        <div class="adminProdUpInputWrapper">
                            <textarea ng-model="addNewComment.body"></textarea>
                        </div>
                        <p class="addnewComment" ng-click="addComment()">Добавить коментарий</p>
                    </div>
                </div>
            
        </div>
        
        <div class="adminProdUpRightWrapper">
            <div class="adminProdUpImgBlock">
                <div class="adminProdUpImg">
                    <img id="adminProdImage" ng-src="{{adminProd.product.imgUrl}}" alt="Картинка не найдена"/>
                </div>
            </div>
            <div class="adminImgLinkWrapper">
                <label for="adminImgMultipart">Сменить картинку</label>
                 <input id="adminImgMultipart" type="file" accept="image/*" ng-model="adminProd.product.imgUrl" ng-img />
                 <p class="adminProdUpLink" ng-click="getOriginImg()">Востановить картинку</p>
            </div>
        </div>
            
         
            
        </div>
    </form>
</div>
