<div class="adminExWrapper" style="display: none;">
    <div class="adminExInfo">
        <div class="adminExName">
            <div class="quitWrapper">
                <p>X</p>
            </div>
            <p class="exceptionModalName"></p>

        </div>
        <div class="adminExMessage">
            <p class="exceptionModalMessage"></p>
        </div>
        <div class="adminExCause">
            <p class="exceptionModalCause"></p>
        </div>
    </div>
    <div class="adminExSTrace">
        <p class="exceptionModalStrace"></p>
    </div>
</div>