<html 
    xmlns:th="http://www.thymeleaf.org"
    lang="ru">
<head>
    <meta charset="utf-8" />
    <title>TAR</title>
    
    <link rel="stylesheet" href="css/product.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/index.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="js/angular-route1.6.7.js"></script>
    <script src="js/admin.js"></script>
</head>

<body ng-app="adminPage">
    
    <header>
            <ng-include src="'html/nav_bar.html'"></ng-include>
    </header>
    <main>
        <div class="leftMainWrapper">
            <ng-include src="'html/admin_nav_bar.html'"></ng-include>
        </div>
        <div class="rightMainWrapper">

            <div ng-view></div>
        </div>
    </main>
    <footer>
        <ng-include src="'html/footer.html'"></ng-include>
    </footer>



</body>

</html>