<div class="categoryPage">

    <p class="addCatLink" ng-click="showAddCat()">Добавить категорию</p>

    <div class="updateCatModal" ng-repeat="upcat in upcategory">
        <p class="exButton addCatLink" ng-click="hideUpdateCategoryModal()">X</p>
        <p class="delCat addCatLink" ng-click="deleteCategory(upcat.id)">Удалить категорию</p>
        <form name="catUpForm" ng-submit="updateCategory(upcat.id, catUpForm)" >
            <label for="updateCatName">Название категории:</label>
            <input id="updateCatName" type="text" name="name" placeholder="Название категории" autocomplete="off" required maxlength="50" valid-name="{{upcat.id}} upCatName" ng-value="upcat.name" ng-init="updateCat.name = upcat.name"  ng-model="updateCat.name"/>
            <span ng-show="catUpForm.name.$error.required">Название не определено</span>
            <span ng-show="catUpForm.name.$error.nameExist && catUpForm.name.$dirty">Название {{upCatName}} не уникально</span>
            <label for="updateCatPid">Идентификатор родителя:</label>
            <input id="updateCatPid" type="number" name="pid" placeholder="Идентификатор родителя" autocomplete="off" required valid-pid="upCatPid" ng-value="upcat.pid"  ng-init="updateCat.pid = upcat.pid" ng-model="updateCat.pid"/>
            <span ng-show="catUpForm.pid.$error.required">Pid не определен</span>
            <span ng-show="catUpForm.pid.$error.pidExist">PID {{upCatPid}} не существует</span>
            <label for="updateCatDesc">Описание категории:</label>
            <textarea id="updateCatDesc"  name="description" placeholder="Описание категории"  autocomplete="off" required maxlength="500"
                      ng-value="upcat.description" ng-init="updateCat.description = upcat.description" ng-model="updateCat.description"></textarea>
            <span ng-show="catUpForm.description.$error.required">Описание не определено</span>
            <button>Обновить</button>
        </form>
    </div>

    <div class="addCat">
        <form name="addCatForm" ng-submit="addCategory(addCatForm)">
            <label for="addCatName">Название категории:</label>
            <input id="addCatName" name="name" type="text" placeholder="Название категории" autocomplete="off" required maxlength="50" valid-name="addCatName" ng-model="addCat.name"/>
            <span ng-show="addCatForm.name.$error.required && addCatForm.name.$touched">Название не определено</span>
            <span ng-show="addCatForm.name.$error.nameExist && addCatForm.name.$dirty">Название {{addCatName}} не уникально</span>
            <label for="addCatPid">Идентификатор родителя:</label>
            <input id="addCatPid" name="pid" type="number" placeholder="Идентификатор родителя" autocomplete="off" required valid-pid="addCatPid" ng-model="addCat.pid"/>
            <span ng-show="addCatForm.pid.$error.required && addCatForm.pid.$touched">Pid не определен</span>
            <span ng-show="addCatForm.pid.$error.pidExist">PID {{addCatPid}} не существует</span>
            <label for="addCatDesc">Описание категории:</label>
            <textarea id="addCatDesc" name="description" placeholder="Описание категории" autocomplete="off" required maxlength="500" ng-model="addCat.description"></textarea>
            <span ng-show="addCatForm.description.$error.required && addCatForm.description.$touched">Описание не определено</span>
            <button>Подтвердить</button>
        </form>
    </div>

    <table class="catTable">
        <thead>
            <tr>
                <th ng-click="filterCategories('name')">Название</th>
                <th ng-click="filterCategories('description')">Описание</th>
                <th ng-click="filterCategories('id')">ID</th>
                <th ng-click="filterCategories('pid')">PID</th>
            </tr>
        </thead>
        <tbody class="catTableBody">
            <tr name="{{cat.id}}" ng-repeat="cat in categoryTable| orderBy:orderedCategories" ng-click="showUpdateCategoryModal( cat.id, cat.pid, cat.name, cat.description )" 
                ng-mouseover="lightOnTree( cat.id, cat.pid )" ng-mouseleave="lightOffTree()">
                <td>{{cat.name}}</td>
                <td>{{cat.description}}</td>
                <td>{{cat.id}}</td>
                <td>{{cat.pid}}</td>
            </tr>
        </tbody>
    </table>
</div>
    

