
<html 
    xmlns:th="http://www.thymeleaf.org"
    lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Аутентификация</title>
    
    <link rel="stylesheet" href="css/product.css" />
    <link rel="stylesheet" href="css/admin.css" />
    <link rel="stylesheet" href="css/index.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="js/angular-route1.6.7.js"></script>
    <script src="js/admin.js"></script>
</head>

<body ng-app="authPage">
    
    <header>
            <!--<ng-include src="'html/nav_bar.html'"></ng-include>-->
    </header>
    <main>
            <div class="authMainWrapper">
                <div class="authFormWrapper">
                    <div>
                        <div ng-controller="authenticationController">
                            <p class="authenticationText">Аутентификация</p>
                            <form id="authForm" ng-submit="userAuthentication()">
                                <div class="authElements">
                                    <label for="authName">Введите имя:</label>
                                        <input id="authName" type="text" name="nick" ng-model="nick" />
                                </div>
                                <div class="authElements">
                                    <label for="authPssword">Введите пароль:</label>
                                    <input id="authPssword" type="password" name="password" ng-model="password" />
                                </div>
                                <div class="authElements">
                                    <button>Ok</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>
