<div class="minCartWrapper vw1">
    <div class="minCartInfo">
        <p>Всего:<p>
        <p>{{cartQuant | defaultVal:'0'}}<p>
    </div>
    <div class="minCartInfo" >
            <p>Цена:<p>
            <p class="money">{{cartPrice | defaultVal:'0'}}<p>
    </div>
    <div class="minCartInfo" >
        <a ng-href="#!/cart">К покупкам</a>
    </div>
    <div class="minCartInfo" >
        <a ng-href="#!/contract">Оформить заказ</a>
    </div>
    
    <div class="minCartPagLink">
        <p  ng-click="cartProdUp()" ng-if="cartProdLength > 3">Вверх</p>
    </div>
    
    <div class="cartMinProductWrapper" title="{{cartProd.name}}" ng-repeat="cartProd in cartProds | sliderFilter:'cart'" >
        <div class="minCartImg">
            <img  ng-src="/img/car.jpg" alt="" ng-click="showMainProduct( cartProd.id )"/>
        </div>
        <div class="minCartContent">
        <div class="minProdEl">
            <p class="greenFont">Цена:</p>
            <p class="money">{{cartProd.price}}</p>
        </div>
        <div class="minProdEl" >
            <p class="blueFont" ng-if="cartProd.exist">В наличии</p>
            <p class="blueFont" ng-if="!cartProd.exist">Нет в ниличии</p>
        </div>
        <div class="minProdEl">
            <p class="greenFont">Количество:</p>
            <p>{{cartProd.quantInCart}}</p>
        </div>
            <p class="redLink" ng-click="deleteProductMinCart( cartProd.id )">Удалить</p>
    </div>
    </div>
    <div class="minCartPagLink">
        <p ng-click="cartProdDown()" ng-if="cartProdLength > 3">Вниз</p>
    </div>
</div>
