<div class="cartWrapper">
    
    <div class='cartLinkRedirect' ng-if="prevLocation && prevLocation !== '/cart'">
        <a ng-href="#!{{prevLocation}}">Вернуться</a>
    </div>

    <div class="cartProductsWrapper">        

        <div class='bigProduct' ng-repeat="cartProd in cartProds">
           
            <div class="linkToMainPr" ng-click="showBigProductWithoutLink( cartProd.id )">
               
            <span class="anchor{{cartProd.id}}"></span>
            <div class='bigProdElImg'>
                <img ng-src="/img/car.jpg" alt=""/>
            </div>
            <div class="bigProdContent px17" >
                <div class="bigProdName">
                    <div>
                    <p class="greenFont">Название:</p>
                    </div>
                </div>
                <div class="blockParagraph">
                        <p class="">{{cartProd.name}}  Скачать стоковое фото плюс минус популярный фотобанк доступные цены миллионы роялти-фри фотографий, изображений и картинок в высоком</p>
                    </div>
                <div class="bigProdEl">
                    <p class="greenFont">Цена:</p>
                    <p class="money">{{cartProd.price}}</p>
                </div>
                <div class="bigProdEl">
                    <p class="blueFont" ng-if="cartProd.exist">В наличии</p>
                    <p class="blueFont" ng-if="!cartProd.exist">Нет в наличии</p>
                </div>
                <div class="bigProdEl">
                    <p class="greenFont">Количество:</p>
                    <p class="">{{cartProd.quantInCart}}</p>

                </div> 
                <div class="bigProdEl">
                    <p class="greenFont">Like</p>
                    <p >{{cartProd.like | defaultVal:'0'}}</p>
                </div>
            </div>
           </div>
            <div class="bigProdOperations px17" >
                <div class="operationEl">
                    <img ng-src="/img/icon-thumbsup.png" alt="" ng-click="prodCartLike( cartProd.id )"/>
                    <p ng-click="likeBigProd(cartProd.id)">Like</p>
                </div>
                <div class="operationEl" >
                    <div class="plusMinusWrapper">
                        <p>Добавить </p>
                        <p class="plusMinus" ng-click="incProductQuant(cartProd.id)">+</p>
                        <p class="plusMinus" ng-click="decProductQuant(cartProd.id)">-</p>
                    </div>
                </div>
                <div class="operationEl deleteFromeCart">
                    <p ng-click="deleteProductBigCart(cartProd.id)">Удалить из корзины</p>
                </div>
            </div>
        </div>
    </div>
</div>