<div class="contract">
    <form name="contractForm" ng-submit="submitContract()">
        <div class="contractElement">
            <label for="contractName">Введите ваше имя:</label>
            <input id="contractName" name="contractName" ng-model="contract.name" type="text" placeholder="ФИО" required maxlength="100" ng-maxlength="100"/>
            <span ng-show="contractForm.contractName.$error.required">Введите ваше имя</span>
            <span ng-show="contractForm.contractName.$error.maxlength">Максимальная длина имени - 100 символов</span>
        </div>
        <div class="contractElement">
            <label for="contractEmail">Введите email:</label>
            <input id="contractEmail" name="contractEmail" ng-model="contract.email" type="email" placeholder="Email" required maxlength="254" ng-maxlength="254"/>
            <span ng-show="contractForm.contractEmail.$error.required">Введите email</span>
            <span ng-show="contractForm.contractEmail.$error.maxlength">Максимальная длина email - 254 символов</span>
        </div>
        <div class="contractElement">
            <label for="contractTelephone">Введите телефон:</label>
            <input id="contractTelephone" name="contractTelephone" ng-model="contract.telephone" type="text" placeholder="Телефон"
                   required minlength="11" ng-minlength="11" maxlength="50" ng-maxlength="50"/>
            <span ng-show="contractForm.contractTelephone.$error.required">Введите ваш телефон</span>
            <span ng-show="contractForm.contractTelephone.$error.minlength">Минимальная длина телефона - 11 символов</span>
            <!--<span ng-show="contractForm.contractTelephone.$error.maxlength">Максимальная длина телефона - 50 символов</span>-->
        </div>
        <div class="contractElement">
            <label for="contractAddress">Введите адрес:</label>
            <input id="contractAddress" ng-model="contract.address" type="text" placeholder="Адрес" maxlength="500" ng-maxlength="500"/>
            <span ng-show="contractForm.contractAddress.$error.maxlength">Максимальная длина адреса - 300 символов</span>
        </div>
        <div class="contractElement">
            <label for="contractWish">Дополнительные пожелания:</label>
            <textarea id="contractWish" ng-model="contract.clientWish" maxlength="1000" ng-maxlength="1000"></textarea>
            <span ng-show="contractForm.clientcontractWish.$error.maxlength">Максимальная длина - 1000 символов</span>
        </div>
        <div class="contractElement">
            <button>Подтвердить</button>
        </div>
    </form>
</div>
