<div class="indexProductsWrapper">
    <div class="minProduct" ng-repeat="product in products">
        <a ng-click="showBigProduct(product.id)">
            <div class="minProductImg">
                <img ng-src="/img/no_photo.png" alt="no image"/ >
            </div>
            <div>
                <span>{{product.title}} </span>
            </div>
            <div>
                <span>{{product.price}}</span>
                <span>{{product.prevPrice}}</span>
                <span>{{product.discount}}</span>
            </div>
            <span>{{product.exist}}</span>
            <div>
                <span>{{product.mark}}</span>
            <div>
            <span ng-click="minProductLike(product.id)">Оценить</span>
            <span class="minProdAddToCart" 
                  ng-click="addMinProdToCart(product.id, product.name, product.price, product.imgUrl, product.isExist, product.mark)">В корзину</span>
        </a>
    </div>
</div>



<div class="productPagWrapper">
    <div class="paginationBar"></div>
</div>