<!--<!DOCTYPE HTML>-->
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alex_Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" href="css/index.css" />
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
                
        <script src="js/angular-route1.6.7.js"></script>
        <script src="js/angular-sanitize1.6.7.js"></script>
        <script src="js/angular-cookies1.6.7.js"></script>
        <script src="js/index.js"></script>

</head>

<body ng-app="indexPage" ng-controller="IndexInitController">
    <!--<header></header>-->

    <main>
        <div class="indexPageWrapper" >
            
            <ng-include src="'html/notification.html'"></ng-include>
            
            <div class="leftWrapper"></div>
            <div class="midleWrapper">
                <ng-include src="'html/index_category_bar.html'"></ng-include>
                
                <div ng-view></div>
            
            </div>
            <div class="RightWrapper" style="float:right; width: 100%;"></div>
                <ng-include src="'html/cart.html'"></ng-include>
        </div>
    </main>
    
    <!--<footer></footer>-->

</body>
</html>
