        <div class="headerWrapper">
            <div class="leftHeaderWrapper">
                <div class="logoWrapper">
                    <!--<img class="logo" src="/img/logo.jpeg" />-->
                </div>
            </div>
            <div class="rightHeaderWrapper">
                <div class="serchRowWrapper">
                    <form class="searchForm">
                        <input class="searchRow" type="text" />
                        <button class="searchBotton">Поиск</button>
                    </form>
                </div>
                <div class="navMenuRow">
                    <div class="navMenuBut">
                        <a href="products.html">Категории</a>
                    </div>
                    <div class="navMenuBut">
                        <a class="a" href="product.html" target="_blank">Новинки</a>
                    </div>
                    <div class="navMenuBut">
                        <a href="#">Акции</a>
                    </div>
                    <div class="navMenuBut">
                        <a href="#">Доставка</a>
                    </div>
                    <div class="navMenuBut">
                        <a href="#">О нас</a>
                    </div>
                </div>
            </div>
        </div>