<div class="productTable">
    <table>
        <tr>
            <th ng-click="orderprodTab('id')"><p>Id</p></th>
            <th ng-click="orderprodTab('title')"><p>Название</p></th>
            <th ng-click="orderprodTab('mpn')"><p>Mpn</p></th>
            <th ng-click="orderprodTab('ean')"><p>Ean</p></th>
            <th ng-click="orderprodTab('quant')"><p>Количество</p></th>
        </tr>
        <!-- ELEMENT CAN NOT BE RENAMED -->
        <tr ng-repeat="element in productTableRow | orderBy:prodTabOrder" ng-click="selectProduct( element.id )">
            <td><p>{{element.id}}</p></td>
            <td><p>{{element.title.substring(0, 100)}}</p></td>
            <td><p>{{element.mpn}}</p></td>
            <td><p>{{element.ean}}</p></td>
            <td><p>{{element.quantity}}</p></td>
        </tr>
    </table>
</div>

<div class="prodTabMessage">{{prodTabMessage}}</div>

<div class="paginationBar"></div>