<div class="productTable">
    <table>
        <tr class="prodTableHead">
            <td>
                <div class="productTableHElem">
                    <p>Название</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Описание</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Цена</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Кол-во</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Оценка</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Добавлен</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>Последняя продажа</p>
                </div>
            </td>
            <td>
                <div class="productTableHElem">
                    <p>В наличии</p>
                </div>
            </td>
        </tr>
        <!-- ELEMENT CAN NOT BE RENAMED -->
        <tr class="prodTableBody" ng-repeat="element in productTableRow" ng-click="selectProduct()">
        <input class="productTableId" type="hidden" value="{{element.id}}" />
        <td>
            <div class="productTableElem">
                <p class="productTableName">{{element.name}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableDescription">{{element.description}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTablePrice">{{element.price}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableQuant">{{element.quant}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableMark">{{element.mark}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableStart">{{element.startDate}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableLast">{{element.lastBuyDate}}</p>
            </div>
        </td>
        <td>
            <div class="productTableElem">
                <p class="productTableExist">{{element.isExist}}</p>
            </div>
        </td>
        </tr>
    </table>
</div>

<div class="prodTabMessage"></div>

<div class="paginationBar"></div>